section {
    padding: 50px 20px;
}

.container {
    margin: auto;
    max-width: 1440px;

    &--footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: baseline;
        @include mobile-only {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}